Repository owncloud/encryption, pull requests merged in 2020-02, with the labels that each got.

#178 Update starlark code 20200208
  .drone.starlark
  .drone.yml
Labels: 3 - To Review, Drone, QA-team

#179 Run core CLI acceptance tests in drone
  .drone.starlark
  .drone.yml
  Makefile
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#183 Switch to .drone.star
  .drone.star
  .drone.yml
Labels: 3 - To Review, Drone, QA-team

#184 [Tests-only] guzzle version updated
  vendor-bin/behat/composer.json
Labels: 3 - To Review, QA-team
